* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.logo-img {
  z-index: 100;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("./img/astronaut.jpg");
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
  background-color: rgb(25, 26, 27);
  width: 40%;
}

.logo-text {
  width: 85%;
  border-radius: 2rem;
  border: 2px solid rgb(248, 0, 114);
  align-self: center;
  padding: 2.5rem 0;
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(4px);
  text-align: center;
}

.logo-text > h1 {
  animation: flicker 2s infinite alternate;
  font-size: 5rem;
  letter-spacing: 5px;
  color: #fff;
  font-weight: 200;
}
.logo-text > h2 {
  font-family: "Square Peg", cursive;
  color: #fff;
  font-size: 2rem;
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
    0 0 40px rgb(248, 0, 114), 0 0 80px rgb(248, 0, 114),
    0 0 90px rgb(248, 0, 114), 0 0 100px rgb(248, 0, 114),
    0 0 150px rgb(248, 0, 114);
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 40px rgb(248, 0, 114), 0 0 80px rgb(248, 0, 114),
      0 0 90px rgb(248, 0, 114), 0 0 100px rgb(248, 0, 114),
      0 0 150px rgb(248, 0, 114);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.img-credit {
  font-size: 0.8rem;
  text-align: center;
  color: white;
  font-weight: 300;
}

a {
  color: white;
}

a:hover {
  transition: 100ms;
  color: rgb(248, 0, 114);
}
main {
  position: relative;
}
.signup-form {
  width: 60%;
  background-color: rgb(240, 240, 240);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.main-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
form {
  grid-row: 2 / span 2;
}

.form-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding-left: 3rem;
  padding-right: 10rem;
  height: 400px;
  background-color: white;
  box-shadow: 0px 0px 20px 3px rgb(248, 0, 114, 0.7);
}
.form-container > h3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

#submit-btn {
  width: 225px;
  height: 50px;
  color: white;
  background-color: rgb(248, 0, 114);
  border: none;
  border-radius: 10px;
  font-size: 1.125rem;
  margin-left: 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

form > p {
  margin-left: 3rem;
}

form > p > a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(248, 0, 114);
}

main > div > p {
  line-height: 30px;
  font-size: 1.5rem;
  margin-left: 3rem;
  margin-bottom: 2.5rem;
  width: 70%;
}
.form-layout {
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.input-field {
  text-transform: uppercase;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
}
.input-field > label {
  padding-bottom: 5px;
}

input {
  padding-left: 5px;
  display: inline-block;
  height: 25px;
  border-radius: 5px;
  border: 1px solid rgba(248, 0, 114, 0.3);
}
